/* Selecting the title element */
title {
    /* Setting the color property to red */
    color: rgb(255, 0, 242);
  }

body {
    background-color: rgb(14, 153, 172);
  }
h1 {
    color: blue;
  }
p {
    color: red;
  }